Support for replacing records with `.replace()`

## Problem

Just like `.update()`, I'd love to see a Prisma feature for `.replace()` that replaces an entire object with new values. This is used for the `PUT` HTTP method, where the convention is to replace an object completely.

## Suggested solution

Add support for replacing records:

```ts
prisma.users.replace({ where: { id: 1 }, data: { name: "Anand", email: "anand@example.com" } })
```

All the properties that are required when creating an object are also required when replacing it:

```ts
// Create a new user with all required keys
prisma.users.create({ data: { name: "Anand", email: "anand@example.com" } })

// This works because all keys in `update` are optional
prisma.users.update({ where: { id: 1 }, data: { name: "Anand" } })

// This will not compile because `email` is required when replacing a record
prisma.users.replace({ where: { id: 1 }, data: { name: "Anand" } })
```

## Alternatives

You can currently use `.update()` to replace all values, but the difference with `.replace()` is that replacing would require all the keys from creation whereas all keys in updating are optional.

Presently, you can use the `CreateInput` rather than `UpdateInput` if you want to "force" TypeScript into replacing the object. However, you'll have to validate that all properties are present if you open up an endpoint for this:

```ts
const replaceUser = async (
  userId: number,
  data: usersCreateInput,
): Promise<users> => {
  return this.prisma.users.update({ where: { id }, data });
}
```

Another problem with this method is that optional properties will retain their previous values when using `.update()`, whereas `.replace()` should change the optional properties to their default values or as `null` if they don't have a default value.

## Additional context

- `REPLACE` function in MySQL: https://www.mysqltutorial.org/mysql-replace.aspx/.
- RFC 7231 Section 4.3.2 docs for PUT: https://tools.ietf.org/html/rfc7231#section-4.3.4


Hi,

We’ve noticed there hasn’t been activity on this issue for quite some time, and we suspect it might no longer be relevant. As part of our ongoing effort to streamline open issues in this repository, we’re closing this one to focus on what’s most important to our community.

If you believe this issue is still relevant and requires attention, feel free to reopen it. Reopening the issue is a valuable signal to us about what matters most to you.

You can learn more about our approach and motivations in the [Prisma ORM Manifesto](https://www.prisma.io/blog/prisma-orm-manifesto#1-defining-first-class-databases).

With love,
Your Prisma ORM Team ❤️

I think it could still be relevant @FGoessler, although from the lack of upvotes it doesn't seem like too many people want it. I think keeping it open could be helpful. 😄 